<!doctype html>
<html lang="no">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>GPA kalkulator</title>
</head>

<body>
    <header>
        <h1 class="text-center display-3">GPA kalkulator</h1>
    </header>
    <main>
        <table id="gradeTable" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Emnekode</th>
                    <th scope="col">Emnenavn</th>
                    <th scope="col">karakter</th>
                    <th scope="col">Studiepoeng</th>
                    <th scope="col">Dato</th>

                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td><b>{{ row['Emnekode'] }}</b></td>
                    <td>{{ row['Emnenavn'] }}</td>
                    <td>{{ row['karakter'] }}</td>
                    <td>{{ row['Studiepoeng'] }}</td>
                    <td>{{ row['Dato'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <section class="text-center">
            <div class="btn-group" role="group">
                <button id="showAddForm" type="button" class="btn btn-primary">Legg til</button>
                <button id="showRemoveForm" type="button" class="btn btn-danger">Fjern</button>
            </div>
            <div id="addSection" style="display:none;">
                <form id="addForm" action="/add" method="post">
                    <input type="text" name="Emnekode" placeholder="Emnekode">
                    <input type="text" name="Emnenavn" placeholder="Emnenavn">
                    <input type="text" name="karakter" placeholder="karakter">
                    <input type="number" name="Studiepoeng" placeholder="Studiepoeng">
                    <input type="date" name="Dato" placeholder="Dato">
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div id="removeSection" style="display:none;">
                <form id="removeForm" action="/remove" method="post">
                    <input type="text" name="Emnekode" placeholder="Emnekode to remove">
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <br>
        </section>
        <footer>
            
        </footer>
    </main>
    <script src="static/script.js"></script>
</body>

</html>